.area--page {
    -fx-padding: 30px;
}

.area--navigation {
    -fx-background-color: #2299dd;
    -fx-pref-height: 60px;
    -fx-padding: 0px 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 1);
}
.button--navigation {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #fff;
    -fx-pref-height: 60px;
    -fx-cursor: hand;
    -fx-font-size: 16px;
}
.button--navigation.isActive {
    -fx-background-color: rgba(0,0,0,0.2);
}
