.root {
    -fx-focus-color: transparent;
}

.area--page {
    -fx-padding: 30px;
}

.area--top-bar {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 1);
}

.area--navigation {
    -fx-background-color: #3C3F41;
    -fx-pref-height: 30.0;
    -fx-padding: 0px 20px;
}

.button {
    -fx-cursor: hand;
}

.button--navigation {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0px;
    -fx-text-fill: #fff;
    -fx-pref-height: 29.0;
    -fx-font-size: 16px;
}
.button--navigation.isActive {
    /*-fx-background-color: #1a75aa;*/
    -fx-text-fill: #2299dd;
}

.area--tools, .area--menubar {
    -fx-background-color: #2e3032;
    -fx-border-width: 0 0 0 0;
}

.area--menubar .menu,
.area--menubar .menu .context-menu {
    -fx-background-color: #3C3F41;
    -fx-cursor: hand;
}

.area--menubar .menu .label {
    -fx-text-fill: #fff;
}

.area--menubar .menu .context-menu {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: #5f6467;
}


.area--menubar .menu:hover,
.area--menubar .menu:focused,
.area--menubar .menu .context-menu .menu-item:hover,
.area--menubar .menu .context-menu .menu-item:focused {
    -fx-background-color: #1a75aa;
}

.editor-field {
    -fx-padding: 0;
}
.editor-field__label {
    -fx-font-size: 13;
}
.editor-field__error {
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #c0392b;
}
.editor--title {
    -fx-text-fill: #fff;
    -fx-font-size: 16;
    -fx-padding: 0 5 0 0;
}
.editor--id-title {
    -fx-text-fill: #ccc;
    -fx-font-size: 12;
}

.temporaryPositionsLabel {
    -fx-text-fill: #444;
    -fx-font-size: 12;
}

.dialog-pane .button-bar .container {
    -fx-background-color: #fff;
}
.dialog-pane .content {
    -fx-font-size: 14;
    -fx-padding: 10 30 0 30;
    -fx-background-color: #fff;
}
.dialog-pane .header-panel {
    -fx-background-color: #fff;
    -fx-padding: 0 30 10 30;
}
.dialog-pane .header-panel .label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
.dialog-pane .graphic-container {
    -fx-padding: 0;
}

.snackbar {
    -fx-background-radius: 2;
    -fx-background-color: #333333;
    -fx-font-size: 15;
    -fx-padding: 20 25;
    -fx-background-insets: 10;
    -fx-border-insets: 10;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 1);
}

.editor-navbar {
    -fx-background-color: #333;
    -fx-pref-height: 50;
    -fx-pref-width: 100%;
}

.formEditor {
    -fx-padding: 20;
}

.goBackButton {
    -fx-background-insets: 10;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #ccc;
    -fx-padding: 0 18 0 5;
    -fx-font-size: 2em;
}

.editorPane {
    -fx-padding: 0;
}

.editorPane .split-pane-divider {
    -fx-pref-width: 0;
    -fx-background-color: transparent;
}

.addNewButton {
    -fx-background-color: #e7e7e7;
    -fx-text-fill: #333;
    -fx-font-size: 19;
    -fx-border-width: 0;
    -fx-pref-height: 100;
    -fx-pref-width: 200;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #333;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

#searchBar {
    -fx-background-radius: 0;
    -fx-pref-height: 35;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-font-size: 14;
}

.dateField, .textField {
    -fx-pref-width: 170;
    -fx-background-color: #fff;
    -fx-effect: none;
    -fx-border-color: #e7e7e7;
    -fx-border-width: 1;
    -fx-background-insets: 0;
}

.dateField .text-field {
    -fx-background-color: #fff;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}
.dateField .arrow-button {
    -fx-background-color: #e7e7e7;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}
