.area--page {
    -fx-padding: 30px;
}

.area--top-bar {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 1);
}

.area--navigation {
    -fx-background-color: #3C3F41;
    -fx-pref-height: 30.0;
    -fx-padding: 0px 20px;
}

.button {
    -fx-cursor: hand;
}

.button--navigation {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0px;
    -fx-text-fill: #fff;
    -fx-pref-height: 29.0;
    -fx-font-size: 16px;
}
.button--navigation.isActive {
    /*-fx-background-color: #1a75aa;*/
    -fx-text-fill: #2299dd;
}

.area--tools, .area--menubar {
    -fx-background-color: #2e3032;
    -fx-border-width: 0 0 0 0;
}

.area--tools .button--close-app, .area--tools .button--minimize-app {
    -fx-background-color: #2e3032;
    -fx-border-width: 0;
    -fx-text-fill: #fff;
    -fx-background-radius: 0;
}

.area--tools .button--close-app:hover {
    -fx-background-color: #c0392b;
}


.area--menubar .menu,
.area--menubar .menu .context-menu {
    -fx-background-color: #3C3F41;
    -fx-cursor: hand;
}

.area--menubar .menu .label {
    -fx-text-fill: #fff;
}

.area--menubar .menu .context-menu {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: #5f6467;
}


.area--menubar .menu:hover,
.area--menubar .menu:focused,
.area--menubar .menu .context-menu .menu-item:hover,
.area--menubar .menu .context-menu .menu-item:focused {
    -fx-background-color: #1a75aa;
}

.editorTextField .label {
    -fx-font-weight: bold;
}

.dialog-pane .button-bar .container {
    -fx-background-color: #fff;
}
.dialog-pane .label.content {
    -fx-font-size: 14;
    -fx-padding: 10 30 0 30;
    -fx-background-color: #fff;
}
.dialog-pane .header-panel {
    -fx-background-color: #fff;
    -fx-padding: 0 30 10 30;
}
.dialog-pane .header-panel .label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
.dialog-pane .graphic-container {
    -fx-padding: 0;
}
